  <div class="col-md-6 offset-md-3 mb-4">

    <ul class="nav nav-tabs nav-fill">
      <li class="nav-item">
        <%= link_to user_path(user.username), class: "nav-link active" do %>
          Posts
          <span class="badge text-bg-secondary rounded-pill"><%= user.own_photos.count %></span>
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to liked_photos_path(user.username), class: "nav-link" do %>
          Liked
          <span class="badge text-bg-secondary rounded-pill"><%= user.liked_photos.count %></span>
        <% end %>
      </li>
    </ul>

  </div>
